@using Web_dienthoai.Models
@model SanPham
@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    
}


<form class="w-50 " style="margin:0px auto">
    @using (Html.BeginForm("Comments", "PhoneStore"))
    {
        @Html.ValidationSummary(true)
        <div class="mb-3 " style="text-align:center">
            <img src="~/Images/Phones/@ViewBag.hinhsp" style="width: 20%; height: 120px;" />
        </div>
        <div style="text-align:center">
            <h5 class="white-text fw-bold">@Model.TenSP</h5>
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="Chiase" rows="3" placeholder="Chia sẻ cảm nhận của bạn"></textarea>
        </div>
        <div class="mb-3 white-text">
            <input type="file" id="Anh" aria-label="gửi ảnh thực tế">

        </div>
        <div class="mb-3 row">
            <div class="col-md-6">
                <input type="text" class="form-control " id="Name" placeholder="Họ tên (Bắt buộc)">

            </div>
            <div class="col-md-6">
                <input type="number" class="form-control " id="SDT" placeholder="Số điện thoại (Bắt buộc)">
            </div>
        </div>

        <p class="white-text">Chúng tôi cam kết sẽ bảo mật số điện thoại của bạn</p>
        ViewBag.masp = @Model.MaSP;
        <div>
            <button type="submit" class="btn btn-primary">Gửi đánh giá</button>
        </div>
    }

</form>
