@model IEnumerable<Web_dienthoai.Models.ProductView>

@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/Image.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

@*Iphone*@
<h3 class="align: text-center">@ViewBag.HangDT</h3>

<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <a href="@Url.Action("Details", "PhoneStore", new { id = item.SanPham.MaSP })">
                    <img class="card-img-top my-image" src="~/Images/Phones/@item.HinhSP.MaHinh" alt="Card image">
                </a>
                <div class="card-body">
                    <h4 class="card-title">@item.SanPham.TenSP</h4>
                    <p class="card-text">@item.SanPham.MaSP</p>
                </div>
            </div>
        </div>
    }
</div>
