
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Image.css" />

<h2 class=" white-text" style="text-align: center">ĐĂNG NHẬP</h2>
<br />
<div class=" white-text">
    <div class="offset-md-1 col-md-10" style="justify-content:center;display:flex">
        <h2 style="color: red;">@ViewBag.ThongBao</h2>
        @using (Html.BeginForm("DangNhap", "NguoiDung"))
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="dangnhap">Tên đăng nhập (<i>SDT</i>):</label>
                @Html.TextBox("SDT", null, new
           {
               @class = "form-control",
         
               @id = "dangnhap",
               required = "required"
           })
            </div>
            <div class="form-group">
                <label for="matkhau">Mật khẩu:</label>
                @Html.Password("MK", null, new
                {
                    @class = "form-control",
                    @id = "matkhau",
                    required = "required"
                })
            </div>
            <br />
            <button type="submit" class="btn btn-primary">ĐĂNG NHẬP</button>
        }
    </div>
</div>

