
@{
    ViewBag.Title = "TrangCaNhan";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2 class="white-text">TrangCaNhan</h2>
<div style="text-align:center"> @Html.ActionLink("Đăng Xuất", "DangXuat", "NguoiDung", null, new { @class = "btn btn-primary" })</div>
