

<a class="thin-text" href="@Url.Action("TrangTK", "NguoiDung")" 
   style="text-decoration: none; color: black; font-weight: bold;">
    <img style="width:30px;height:30px" src="~/Images/user.png" /> @ViewBag.name
</a>

