.my-image {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    /* add any other styles you want */
}

.my-image-product {
    width: 54%;
    height: 400px;
   
    /* add any other styles you want */
}

.purchase-button {
    display: inline-block;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

    .purchase-button:hover {
        background-color: #0062cc;
    }

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.cart-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

    .cart-icon i {
        font-size: 2rem;
    }

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: #fff;
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 50%;
}

.thin-text {
    text-size-adjust: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
   /* padding-left: 100px;
    padding-right: 100px;*/
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: none;
}

.flexcenter {
    display: flex;
    justify-content: center;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

