
@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/stylepro.css" />
<h2 style="text-align:center">Danh sách sản phẩm</h2>
<div id="div-pro-list">
    <div class="box-pro">
        <img class="size-img" src="~/Images/computer.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: SP01</p>
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">
        <img class="size-img" src="~/Images/computer.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: SP01</p>
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">
        <img class="size-img" src="~/Images/computer.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: SP01</p>
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">
        <img class="size-img" src="~/Images/computer.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: SP01</p>
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">
        <img class="size-img" src="~/Images/computer.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: SP01</p>
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">
        <img class="size-img" src="~/Images/computer.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: SP01</p>
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">
        <img class="size-img" src="~/Images/computer.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: SP01</p>
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">
        <img class="size-img" src="~/Images/computer.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: SP01</p>
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
</div>

