
@{
    ViewBag.Title = "CauHoiDKTK";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2 style="text-align:center" class=" ">Tạo Tài Khoản Mới Bằng Thông Tin Giao Hàng ?</h2>
<div style="text-align:center;padding:10px">
    @Html.ActionLink("Đồng ý", "ThongTinDKTK", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Không", "DatHangThanhCong", null, new { @class = "btn btn-success" })
</div>





