
@{
    ViewBag.Title = "DatHangThanhCong";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2  style="text-align:center" class="white-text">Chúc Mừng Quý Khách Đã Đặc Hàng Thành Công <br />Nhân Viên Sẽ Liên Hệ Xác Nhận Đơn Hàng Sớm Trong 15 Phút</h2>
<div style="text-align:center"> @Html.ActionLink("Về Trang Chủ", "Index","PhoneStore", null, new { @class = "btn btn-primary" })</div>


