<link rel="stylesheet" href="~/Content/Image.css" />

<a class="thin-text" href="@Url.Action("HienThiGioHang", "GioHang")" style="text-decoration: none; color:black;">
    <i class="black-text">Số lượng sản phẩm trong giỏ: @ViewBag.TongSL</i> 
  
</a>