
<a href="@Url.Action("HienThiGioHang", "GioHang")" 
   style="text-decoration: none; color: red; font-weight: bold;">
    <img style="width:30px;height:30px" src="~/Images/giohang1.png" /> (@ViewBag.TongSL)
</a>